<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notion Query Search</title>
    
    {% load static %}
    
    <!-- Use Django static tag to load JS and CSS files -->
    <script type="module" crossorigin src="{% static 'assets/index-CdcqSPkO.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-utbFjfHl.css' %}">
  </head>
  <body class="bg-gray-200 font-sans flex flex-col items-center">
    <div id="root" class="w-full"></div>
  </body>
</html>